

:root {
  --main-text-color: #f5f5f5;
  --main-bg-color: rgba(88,88,88,0.9);
  --bg-image: url(Images/trippy.jpg);
  --hover-color: rgb(82, 12, 114);

}


body {
  background-color: rgba(0, 0, 0, 0.904);
  font-family: Arial, Helvetica, sans-serif;
  background-image: var(--bg-image);
}



h1 {
  font-size: 40px;

}

p {
  font-size: 18px;

}


.insta {
  height: 2em;
  width: 2em;
}

.navbar {
  /*  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; */

  display: flex;
  align-items: center;
  justify-content: flex-start;

}


.navli {
  padding: 8px; 
  display: block;
} 


.links {
  color: rgb(255, 255, 255);
  transition: .5s ease;
}

.links:hover {
  color: var(--hover-color);
 
}

.links:link {
  text-decoration: none;
}







.default{
    text-align: center; 

    color: var(--main-text-color);
    border-style:solid;
    border-color: #f5f5f5;
    border-width: 2px;
    background-color: var(--main-bg-color);

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}









.colorlay {
  background-color: var(--hover-color);
}




.albums {
  position: relative;
  flex: 0 32%; 
}



.albumimg {
  opacity: 1;
  width: 278px;
  height: 278px;
  transition: .5s ease;
  backface-visibility: hidden;
  }


.albumtext {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.albums:hover .albumimg {
  opacity: 0.2;    
}
  
.albums:hover .albumtext {
  opacity: 1;    
}


.intext {
  color: black;
  font-family: 'Times New Roman', Times, serif;
}



i {
  height: 278px;
  width: 278px;
  position: relative;
  flex: 0 32%; 
}


.discography {
  /* display: grid;
  grid-template-columns: 278px 278px 278px;
  grid-template-rows: auto;
  justify-items: center;
  grid-gap: 50px;
  */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  align-items: flex-start;
}



@media screen and (max-width: 600px) {
  .discography {
    width: 100%;
    /*grid-template-columns: 1fr; */
    flex-direction: column;
  }


  .albumimg {
    opacity: 0.5;
  }
  
  .albumtext {
    opacity: 1;
  }


}





.about-text {
  width: 50%;
  text-align: left;
  margin-left: auto;
    margin-right: auto;


}










input[type=text], select, textarea {
  width: 35%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=comment] {
  width: 35%; /* Full width */
  height: 200px;
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--hover-color);
}

/* Add a background color and some padding around the form */
.contact-form {
  border-radius: 5px;
  
  padding: 20px;
}



/*

.contact-form{
  display: flex;
  max-width: 550px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
}

.contact-input{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.contact-input,
.contact-message{
  width: 100%;
}

.contact-input .input,
.contact-message textarea{
  margin: 20px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}



.contact-message textarea{
  height: 238px;
}


::-webkit-input-placeholder {
  color: var(--main-text-color);
}

::-moz-placeholder {
  color: var(--main-text-color);
}
:-ms-input-placeholder {
  color: var(--main-text-color);
}


.contact-button {
  background: #39b7dd;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
*/
@media screen and (max-width: 600px){
.contact-form{
  flex-direction: column;
}
.contact-message textarea{
  height: 80px;
}
.contact-input,
.contact-message{
  width: 100%;
}
}










/*
.column {
  float:left;
  width: 33.33%;
}

.row:after {
  content:"";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

*/